/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		nordic,nus-uart = &uart0;
	};
};

/* 
 * I2C configuration for DRV2605L Haptic Driver
 * 
 * Board: Seeed XIAO BLE Sense (nRF52840)
 * The DRV2605L is connected via I2C at address 0x5A (default).
 * I2C speed is set to 100 kHz as per Grove Motor specifications.
 * 
 * XIAO BLE Sense I2C pins:
 *   - SDA: P0.04 (Pin 4)
 *   - SCL: P0.05 (Pin 5)
 */

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,
				<NRF_PSEL(TWIM_SCL, 0, 5)>;
		};
	};

	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,
				<NRF_PSEL(TWIM_SCL, 0, 5)>;
			low-power-enable;
		};
	};
};

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>; /* 100 kHz */
	
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	
	/* Buffer sizes for reliable I2C operation */
	zephyr,concat-buf-size = <16>;
	zephyr,flash-buf-max-size = <16>;

	drv2605l: drv2605l@5a {
		compatible = "ti,drv2605l";
		reg = <0x5a>;
		status = "okay";
	};
};
